#welcome {
    align-items: center;
    background-image: url(../../img/cover.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    display: flex;
    height: 100vh;
    justify-content: center
}

#welcome #welcome-text {
    background-color: none;
    filter: none
}

#welcome #welcome-text h2 {
    font-size: 100px;
    text-align: center;
    text-decoration: none
}

#welcome #welcome-text p {
    font-size: 25px;
    text-align: center
}

#about-us {
    margin: 25px auto;
    width: 50%
}

@media only screen and (max-width: 1000px) {
    #about-us {
        width: 90%
    }
}