body {
    background: #0e0e0e;
}

#title-section {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 5rem;
}

#title {
    width: 50%;
}

#title h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: white;
    display: block;
    padding-left: 10px;
}

h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.canvas-container {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title #hover {
    background: linear-gradient(to left, #4245A0 50%, #592087 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

#title #hover:hover {
    cursor: pointer;
    background-position: left;
}

/* cards */

.card-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 225px;
    height: 300px;
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card:hover::before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: #fff;
    transition: 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
}

.card:hover .card-text {
    bottom: 0;
}

.card-text h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text p {
    font-size: 0.9rem;
}

.card-text h3,
.card-text p {
    margin: 0;
}

@media (max-width: 1000px) {
    #title-section {
        flex-direction: column;
        height: auto;
        padding: 2rem;
    }

    #title {
        width: 100%;
    }

    #title h1 {
        text-align: center;
        display: block;
        font-size: 3rem;
        padding: 0px;
    }

    .canvas-container {
        width: 100vw;
        height: 50vh;
        flex-direction: column;
    }

    /* make cards have their own lines */

    .card-container {
        flex-direction: column;
    }

    .card {
        margin: 10px 0;
    }

    /*center cards horizontally */

    .card-container {
        align-items: center;
    }
}