#title-section::before {
    background-image: url(../../img/covers/our-journey.png);
    min-height: 500px;
}

#title-section {
    min-height: 500px;
}

#title-section h1 {
    color: white;
}

/* our-cars */

#our-cars .car-banner {
    background-color: var(--accent-darker);
    padding: 10px 0 10px 20px
}

#our-cars .car-banner h3 {
    color: white;
    font-size: 35px;
    text-align: left;
    text-decoration: none
}

#our-cars .car {
    display: flex
}

#our-cars .car .car-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    display: absolute;
    float: left;
    transition: background-image 1s ease-in;
    width: 50%
}

#our-cars .car .car-about {
    float: right;
    height: auto;
    padding: 25px;
    width: 50%;
}

#our-cars .car .car-about p {
    font-size: 17.5px;
    padding: 100px 0px;
}

@media only screen and (max-width:1150px) {
    #our-cars .car-banner {
        padding-left: 0
    }

    #our-cars .car-banner h3 {
        text-align: center;
        width: 100%
    }

    #our-cars .car {
        display: inline
    }

    #our-cars .car .car-image {
        display: block;
        float: none;
        min-height: 250px;
        width: 100%
    }

    #our-cars .car .car-about {
        display: block;
        float: none;
        padding: 15px 10px;
        width: 100%
    }

    #our-cars .car .car-about p {
        padding: 10px 0
    }
}

/* image-carousel */

.image-carousel {
    display: flex;
    flex-direction: row;

    overflow-x: hidden;
    overflow-y: hidden;
}

.image-carousel .carousel-item {
    display: inline-block;

    height: 300px;
}

.image-carousel .carousel-item:hover {
    cursor: pointer;
}

.image-carousel .carousel-item img {
    height: 300px;
    width: auto;
}

/* cache */

cache {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

cache image {
    position: absolute;
}