#cookie-consent-banner {
	background-color: #fff;
	bottom: 0;
	box-sizing: border-box;
	display: none;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1
}

#cookie-consent-banner__inner {
	margin: 0 auto;
	max-width: 960px;
	padding-top: 32px
}

#cookie-consent-banner__copy {
	margin-bottom: 16px
}

#cookie-consent-banner__header {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 8px
}

#cookie-consent-banner__description,
#cookie-consent-banner__header {
	line-height: 24px;
	padding-left: 10px;
	padding-right: 10px
}

#cookie-consent-banner__description {
	color: #838f93;
	font-size: 18px
}

#cookie-consent-banner__description a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
	text-decoration: underline
}

#cookie-consent-banner__actions {
	padding-top: 25px
}

.cookie-consent-banner__cta {
	background-color: #2ce080;
	border-radius: 2px;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	min-width: 164px;
	padding: 11px 13px;
	text-align: center;
	text-decoration: none
}

#cookie-consent-banner__cta--secondary {
	background-color: transparent;
	border: 2px solid #3a4649;
	color: #2ce080;
	padding: 9px 13px
}

.cookie-consent-banner__cta:hover {
	background-color: #20ba68
}

.cookie-consent-banner__cta--secondary:hover {
	background-color: transparent;
	border-color: #838f93;
	color: #22c870
}

.cookie-consent-banner__cta:last-child {
	margin-left: 16px
}

@media only screen and (max-width:400px) {
	.cookie-consent-banner__cta:last-child {
		margin-left: 0;
		margin-top: 10px
	}
}