#footer {
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px
}

#footer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0
}

#footer ul li {
    padding-left: 20px
}

#footer ul li img {
    height: auto;
    width: 30px
}

@media only screen and (max-width:1000px) {
    #footer {
        flex-direction: column
    }

    #footer #copyright {
        padding: 10px 0
    }

    #footer ul {
        flex-direction: column
    }

    #footer ul li {
        padding: 5px 0 0
    }
}