@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;600&display=swap");

:root {
    --accent: #9195ff;
    --accent-darker: #474ba5;
    --background-color: #fff;
    --color-accent: #3b3b40;
    --darker-color-accent: #000;
    --opposite-color-accent: #000
}

html[theme="light"] {
    --accent: #9195ff;
    --accent-darker: #474ba5;
    --background-color: #fff;
    --color-accent: #3b3b40;
    --darker-color-accent: #000;
    --opposite-color-accent: #000
}

html[theme="dark"] {
    --accent: #9195ff;
    --accent-darker: #474ba5;
    --background-color: #1d1d1f;
    --color-accent: #3b3b40;
    --darker-color-accent: #000;
    --opposite-color-accent: #fff
}

* {
    box-sizing: border-box;
    color: var(--opposite-color-accent);
    margin: 0px;
    padding: 0px;

    font-family: Noto Sans, sans-serif;
}

body {
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

/* cover */

.cover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover #cover-text h1 {
    font-size: 2vw;
}

.cover #cover-text p {
    font-size: 1vw;
}