@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400;600&display=swap");

* {
    box-sizing: border-box;
    color: var(--opposite-color-accent);
    font-family: Noto Sans, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor: none;
}

html,
body {
    height: 100%;
}

#cursor {
    width: 8px;
    height: 8px;
    background-color: #9195ff;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 1001;
}

#cursor-follower {
    width: 25px;
    height: 25px;
    background-color: #50227d;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* Allow clicks to pass through */
    transition: transform 0.2s ease-out;
    /* Add a bit of lag */
    z-index: 1000;
}

h1 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h2 {
    font-weight: 400;
    margin-bottom: 0.5rem;
}

p {
    text-align: justify;
}