#welcome {
    background-image: url(../img/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center
}

#welcome #welcome-text {
    background-color: none;
    filter: none
}

#welcome #welcome-text h2 {
    font-size: 100px;
    text-align: center
}

#welcome #welcome-text p {
    font-size: 25px;
    text-align: center;
}