.navbar {
    align-items: center;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    min-height: 100px;
    padding: 1rem;
    width: 100%;
}

.navbar #logo {
    height: 50px;
}

.navbar #name {
    border-bottom: 1px solid black;
    font-size: 27px;
    left: 125px;
    margin-left: 20px;
}

.navbar .items ul {
    display: flex;
    list-style: none;
}

.navbar .items ul li {
    padding-left: 1rem;
}

.navbar .items ul li p {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 22.5px;
    transition: border 1s ease, color 1s ease;
}

.navbar .items ul li p:hover {
    color: #9195ff;
    display: inline;
}

.navbar .items ul li .active {
    border-bottom: 1px solid black;
    color: #9195ff;
}

.navbar #theme-toggle {
    margin-left: auto;
    margin-right: 10px;
    font-size: 25px;
}

.navbar #theme-toggle:hover {
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    .navbar {
        flex-direction: column;
        justify-content: space-around;
    }

    .navbar #logo {
        margin: 0;
    }

    .navbar #name {
        border-bottom: none;
        margin: 0;
        padding-top: 1rem;
        position: static;
    }

    .navbar .items ul {
        flex-direction: column;
    }

    .navbar .items ul li {
        padding: 0;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .navbar #theme-toggle {
        margin: 0;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
    }
}