body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #0e0e0e;
    color: white;
    /* Frosted background */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.left {
    display: flex;
    align-items: center;
}

.company-logo img {
    max-width: 40px;
    /* Adjust the size of the logo */
    margin-right: 10px;
}

.right {
    flex-grow: 1;
    text-align: right;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.2s;
}

.nav-links li:hover {
    transform: scale(1.05);
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 200;
}

.nav-links li a#current {
    color: #9195ff;
}

/* Media query for mobile responsiveness */
@media (max-width: 1100px) {
    .company-logo img {
        max-width: 30px;
        /* Adjust the size of the logo for mobile */
    }

    .right {
        text-align: center;
    }

    header {
        position: relative;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }
}