.about-f1-in-schools img {
    content:url("../../img/f1-in-schools/f1-in-schools-white.webp");
}

.about-f1-in-schools .learn-more {
    background-color: #9195ff;
    color: black;
}

.our-cars .car-banner {
    background-color: #474ba5;
}